{% if get['created'] or get['edit'] or get['delete'] or get['moderated'] or get['publicated']%}
<div class="alert {% if get['delete'] %} alert-danger {% elseif get['moderated']%} alert-warning {% else %} alert-success {% endif %}">
    L'élement a bien été
    {% if get['created'] %}
        créé
    {% elseif get['edit'] %}
        modifié
    {% elseif get['delete']%}
        supprimé
    {% elseif get['moderated'] %}
        modéré
    {% elseif get['publicated'] %}
        publié
    {% endif %}
    !
</div>
{% endif %}