{% extends 'admin/layout/default.html.twig' %}

{% block title %}Modifier une catégorie - Administration{% endblock %}

{% block body %}
    <ol class="breadcrumb breadcrumb-sm">
        <li class="breadcrumb-item">
            <a href="/admin/categories">Liste des catégories</a>
        </li>
        <li class="breadcrumb-item active">Modification de la catégorie "<span class="font-weight-bold">{{ category.name }}</span>"</li>
    </ol>

    <form action="/admin/category/edit/{{ category.id }}" method="post">
        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="alert bg-light">
                    <h2 class="h5 mb-3">Modifier une catégorie</h2>
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Nom de la catégorie" required value="{{ category.name }}">
                    </div>
                    <div class="form-group">
                        <label for="style">Style</label>
                        <input type="text" class="form-control" name="style" id="style" placeholder="Style de la catégorie" required value="{{ category.style }}">
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-block">Envoyer</button>
    </form>
{% endblock %}