{% extends 'layout/auth-register/default.html.twig' %}

{% block title %}Se connecter - Blog Damien Riviere{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        {% if get['forbidden'] or get['created'] %}
                            {% include 'layout/auth-register/alert.html.twig' %}
                        {% endif %}
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h2 class="login-heading mb-4 text-danger">
                                    <a href="/"><i class="fas fa-arrow-circle-left"></i></a> 
                                    Se connecter
                                </h2>
                                <form action="/login" method="POST">
                                    <div class="form-label-group">
                                        <input type="email" id="email" class="form-control" placeholder="Adresse email"
                                            required autofocus name="email">
                                        <label for="email">Adresse email</label>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="password" id="password"
                                            class="form-control {% if get['access-denied'] %}is-invalid{% endif %}"
                                            placeholder="Mot de passe" required name="password">
                                        <label for="password">Mot de passe</label>
                                        <div class="invalid-feedback">
                                            Email ou mot de passe incorrect
                                        </div>
                                    </div>

                                    <button class="btn btn-lg btn-danger btn-block btn-login font-weight-bold mb-2" type="submit">Connexion</button>

                                    <div class="text-center">
                                        <a class="small text-center" href="/register">Vous n'avez pas de compte, inscrivez-vous ici !</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}