{% if get['created'] or get['edit'] or get['reported'] %}
<div class="alert {% if get['reported'] %} alert-warning {% else %} alert-success {% endif %} mb-0 mt-3">
    Le commentaire a bien été
    {% if get['created'] %}
        créé
    {% elseif get['edit'] %}
        modifié
    {% elseif get['reported'] %}
        signalé
    {% endif %}
    !
</div>
{% endif %}