<section id="contact">
    <div class="container-fluid bg-light py-5 text-center">
        <h2 class="text-danger">Contact</h2>
        <p class="font-weight-bold mb-0">Pour plus de renseignements contactez-moi !</p>
    </div>  
            
    <div class="container py-5">
        <form action="/send-email" method="post">
            <div class="row py-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Nom / Prénom" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Email *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="subject" class="form-control" placeholder="Sujet *" value=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea name="message" class="form-control" placeholder="Votre message *" style="width: 100%; height: 146px;"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group text-center">
                        <input type="submit" name="submit" class="btn btn-danger" value="Envoyer" />
                    </div>
                </div> 
            </div>
        </form>
        <p class="text-center text-danger font-weight-bold">{{ session.email_error }}</p>
        <p class="text-center text-success font-weight-bold">{{ session.email_success }}</p>
    </div>
</section>