<footer class="pt-4 grey-lighten-2">

    <div class="container text-center text-md-left">

        <div class="row ">

            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-danger">À propos</h5>
                <p>Damien Riviere, je suis Développeur PHP / Symfony dans la région Aquitaine.</p>
                <h5 class="text-danger">Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-paper-plane text-danger"></i>
                        damien@d-riviere.fr
                    </li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-danger">Pages</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="footer-link">Accueil</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Articles</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-danger">Liens</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linkedin.com/in/damien-riviere/" target="_blank" class="footer-link">
                            Linkedin
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/DamienRiviere" target="_blank" class="footer-link">
                            Github
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <div class="grey-lighten-1 text-center py-3">© 2019 Copyright:
        <a href="http://d-riviere.fr/" class="text-danger font-weight-bold"> d-riviere.fr</a>
    </div>

</footer>