<footer class="pt-4 grey-lighten-2">

    <div class="container text-center text-md-left">

        <div class="row ">

            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-danger">A PROPOS</h5>
                <p><strong>Damien Riviere</strong>, je suis <strong>Développeur PHP / Symfony</strong> dans la région
                    Aquitaine.</p>

                <h5 class="text-danger">CONTACT</h5>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-paper-plane text-danger"></i>
                        <span class="font-weight-bold">damien@d-riviere.fr</span>
                    </li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-danger">NAVIGATION</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-secondary">Accueil</a>
                    </li>
                    <li>
                        <a href="#" class="text-secondary">Articles</a>
                    </li>
                    <li>
                        <a href="#" class="text-secondary">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-danger">LIENS</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linkedin.com/in/damien-riviere/" target="_blank" class="text-secondary">
                            Linkedin
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/DamienRiviere" target="_blank" class="text-secondary">
                            Github
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <div class="grey-lighten-1 text-center py-3">© 2019 Copyright:
        <a href="http://d-riviere.fr/"> d-riviere.fr</a>
    </div>

</footer>