{% extends 'layout/default.html.twig' %}

{% block title %}Modification du mot de passe de {{ session.name }}{% endblock %}

{% block body %}
    {% include 'user/layout/default.html.twig' %}

    <div class="container">
        <!-- Email Form -->
        <div class="card my-4">
            <h5 class="card-header"><i class="fas fa-lock"></i> Entrez votre nouveau mot de passe :</h5>
            <div class="card-body">
                <form action="/account/password/edit/{{ session.id }}" method="post">
                    <div class="form-group">
                        <label for="password">Nouveau mot de passe</label>
                        <input class="form-control" type="password" name="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}