{% extends 'layout/default.html.twig' %}

{% block title %}Modification de l'image du profil de {{ session.name }}{% endblock %}

{% block body %}
    {% include 'user/layout/default.html.twig' %}

    <div class="container">
        <!-- Picture Form -->
        <div class="card my-4">
            <h5 class="card-header"><i class="fas fa-image"></i> Entrez le lien de votre nouvelle image de profil :</h5>
            <div class="card-body">
                <form action="/account/picture/edit/{{ session.id }}" method="post">
                    <div class="form-group">
                        <label for="picture">Nouvelle image</label>
                        <input class="form-control" type="text" name="picture" id="picture" value="{{ session.picture }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}